.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/background_image.JPG');
  background-size: cover;
  color: #ffffff;
  height: 600px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}


.jumbotron > h1 {
    font-family: 'Montserrat', sans-serif;

}